<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Appointment Scheduler</title>
</head>
<body>
    <form>
        <label>First Name:
            <span id="err-fname">*First Name is Required</span>
        </label>
        <input type="text">

        <label>Last Name:
            <span id="err-lname">*Last Name is Required</span>
        </label>
        <input  type="text">

        <label>Date:
            <input type="date">
        </label>

        <label>Time:
            <input type="time">
        </label>

        <button>Submit</button>
    </form>
</body>
</html>