<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Appointment Scheduler</title>

    <!-- Link Styles -->
    <link rel="stylesheet" href="styles/styles.css">
</head>
<body>
    <form id="appointment-form">
        <label for="fname">First Name:</label>
        <span class="err" id="err-fname">*First Name is Required*</span>
        <input type="text" id="fname" name="fname" />

        <label for="lname">Last Name:</label>
        <span class="err" id="err-lname">*Last Name is Required*</span>
        <input  type="text" id="lname" name="lname" />

        <label for="date">Date:
            <input type="date" id="date" name="date">
        </label>

        <label for="time">Time:
            <input type="time" id="time" name="time">
        </label>

        <button type="submit" id="submit-button">Submit</button>
    </form>
</body>
</html>